<!DOCTYPE html>

<html lang="FR">

<head>
    <link rel="icon" href="static\favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link href="static\styles.css" rel="stylesheet">

    <!-- Datatables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>

    <title>La messe qui prend son temp Trois-Rivières : {% block title %}{% endblock %}</title>
</head>
<header>
    <!-- Header goes here -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light " style="padding:0px">
        <a class="navbar-brand" href="#">
            <img src="static/MQPST_logo.jpg" class="img-responsive" width="75" height="67.4" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto flex-grow-1 bd-highlight">
                <li class="nav-item" id="home">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item" id="nouvelles">
                    <a class="nav-link" href="/nouvelles">Nouvelles</a>
                </li>
                <li class="nav-item" id="equipe">
                    <a class="nav-link" href="/equipe">Equipe</a>
                </li>
                <li class="nav-item" id="video">
                    <a class="nav-link" href="/video">Video</a>
                </li>
                <li class="nav-item" id="temoignage">
                    <a class="nav-link" href="/temoignage">Témoignage</a>
                </li>
                <li class="nav-item dropdown" id="mass">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/gestion_nouvelles">Gestion de Nouvelles</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/gestion_dates">Gestion de Dates</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/gestion_equipe">Gestion Equipe</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/gestion_contenu">Gestion Contenu</a>
                    </div>
                </li>
            </ul>
            {% if session["user_id"] %}

            <ul class="navbar-nav mr-auto bd-highlight">
                
                <a class=" navbar-nav nav-link text-center  " href="logout">{{session["name"]}} <br> déconnexion</a>
            </ul>

            {% else %}

            <ul class="navbar-nav mr-auto bd-highlight">
                <a class=" navbar-nav nav-link" href="login">se connecter</a>
            </ul>
            <ul class="navbar-nav mr-auto bd-highlight">
                <a class=" navbar-nav nav-link" href="signup">s'inscrire</a>
            </ul>

            {% endif %}
        </div>
        </div>
    </nav>
</header>
<div class="background-div"> </div>
<main class="container-fluid p-0 text-center">
    {% block main%}

    {% endblock %}
</main>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top container-fluid">
    <div class="col-md d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24">
                <use xlink:href="#bootstrap"></use>
            </svg>
        </a>
        <span class="text-muted">© 2023 Gmonsalve</span>
    </div>

    <ul class="nav col-md justify-content-center list-unstyled d-flex">
        <li class="ml-3"><a href="#twitter" class="my-anchor">Home</a></li>
        <li class="ml-3"><a href="#twitter" class="my-anchor">Nouvelles</a></li>
        <li class="ml-3"><a href="#facebook" class="my-anchor">Équipe</a></li>
        <li class="ml-3"><a href="#instagram" class="my-anchor">Video</a></li>
        <li class="ml-3"><a href="#instagram" class="my-anchor">Témoignage</a></li>
    </ul>

    <ul class="nav col-md justify-content-end list-unstyled d-flex">
        <li class="ml-3"><a href="#twitter"><img
                    src="https://cdns.iconmonstr.com/wp-content/releases/preview/2012/240/iconmonstr-twitter-1.png"
                    width="25px"></a></li>
        <li class="ml-3"><a href="#facebook"><img
                    src="https://cdns.iconmonstr.com/wp-content/releases/preview/2012/240/iconmonstr-facebook-1.png"
                    width="25px"></a></li>
        <li class="ml-3"><a href="#instagram"><img
                    src="https://cdns.iconmonstr.com/wp-content/releases/preview/2016/240/iconmonstr-instagram-11.png"
                    width="25px"></a></li>

        <!--
                  <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
                  <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
                  <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
                  -->
    </ul>
</footer>
</body>
{% for category, message in get_flashed_messages(with_categories=true) %}
<script>
    let message = "{{ message }}";
    let category = "{{ category }}";
    let button_text = ""
    if (category == "success") {
        button_text = "OK"
    } else {
        button_text = "try again"
    }
    swal({
        title: message,
        icon: category,
        button: button_text
    });
</script>
{% endfor %}

</html>