{% extends "layout.html" %}
{%block title%}
Accueil
{% endblock%}
{% block main %}
<div class="container news-container">
    <h3 class="text-justify py-3">Titre</h3>
   
        <img src="/static/photo1.jpg" class="img-fluid news-image" alt="Responsive image">
    <br>
    <p class="text-justify py-5">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget hendrerit dui. Nullam dolor augue, volutpat
        vitae erat facilisis, tempor vulputate eros. Phasellus sed lectus ornare, viverra nibh posuere, dictum nulla.
        Phasellus vel nulla mi. Nam aliquet quam nunc, consectetur bibendum dolor posuere nec. Quisque vel ultrices
        ipsum, sed aliquam mauris. In ac facilisis augue, ac tincidunt nibh. Donec eu elit sed justo pretium eleifend
        vel eget sapien. Fusce ac quam scelerisque ipsum lobortis faucibus. Curabitur congue magna eu lobortis
        malesuada. Quisque vel aliquam metus, et vehicula felis. Sed semper, est in commodo tincidunt, magna mi aliquam
        nunc, quis posuere elit orci eget felis. Nullam laoreet nunc at metus viverra gravida. Duis est enim, vehicula
        sit amet enim ut, imperdiet viverra nulla. In ut felis urna.
    </p>
</div>
<!-- ends -->
{% endblock %}